<p>
  <strong>Comment:</strong>
  <%= @comment.body %>
</p>

<p>
    <div>
    <button>Delete</button>
    </div>

</p>


 <!-- <#%= ("Delete this comment", comment_path(@comment), method: :delete, data: { confirm: "Are you sure?"})%>  -->
