<p>
  <strong>Comment:</strong>
  <%= comment.body %>
</p>

<p>
  <%= link_to 'Delete Comment', [comment.project, comment],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
</p>
