<div class="container">
    <%= form_for([@student_id, @user.comments.build]) do |f| %>
    <!-- <#%= form_for @user do |f| %> -->
        <%= f.text_field :body, required: true, placeholder: 'Message' %>

        <%= button_tag "Add comment"%>
    <% end %>

</div>
