<!-- Need to add a comment through a user -->
<div class="container">
    <%= form_for @user do |f| %>
        <%= f.text_field :name, required: true, placeholder: 'Name' %>

        <%= button_tag "Add comment"%>
    <% end %>

</div>
