<div class="hero">
    <div class="center row">
        <div class="col s12 m4"></div>
        <div class="box-white col s12 m4">
            <div class="col s12 m4 l0"></div>
            <div class="col s12 m4 l12">

                <div>
                    <%= render(partial: 'form') %>
                </div>

            </div>
        </div>
    </div>
