Hi, <%= @booking.student.name%>!

Thanks for booking your appointment on <%= @booking.date %>!


Below are the details for your records. To join your 1:1 meeting, copy and paste your tutor's URL in a new browser and hit enter. This will launch Zoom. </p>

Booking starts: <%= @booking.date %> at  <%= @booking.start_time %> (Australia/Sydney)

Launch 1:1 : https://tandemtech.zoom.us/j/299410700

Thanks, Tandem Tech
