<h1>Hi, <%= @user.name %>!</h1>

<p>Thanks for booking your appointment on <%= @booking.date %>!</p>

<p>
Below are the details for your records. To join your 1:1 meeting, copy and paste your tutor's URL in a new browser and hit enter. This will launch Zoom. </p>

<p> Booking starts: Tuesday, July 19, 2016 9:30 AM (Australia/Sydney)</p>

<p>
  Launch 1:1 : https://tandemtech.zoom.us/j/299410700
</p>

<p>
  Thanks, Tandem Tech
</p>
