<div class="hero">
    <div class="center row">
        <div class="col s12 m4"></div>
        <div class="col s12 m4 home-banner">
            <h2>Start learning a language today</h2>
            <p>
                Whether you’re starting a new programming language from scratch, or just need a refresher course, we’ll help you find a professional language tutor. Just find someone who matches your style, and book a lesson.
            </p>

            <% if !@current_user %>
            <button class="btn waves-effect waves-light z-depth-0 grey lighten-3" type="submit" name="action"><%= link_to 'Sign Up', new_user_path %></button>
            <% end %>
        </div>
    </div>
</div>

<div class="container about center">
    <div class="row small">
        <div class="col s12 m4">
            <div class="card grey lighten-3">
                <div class="card-content teal-lighten-1-text">
                    <h3>
                        <strong>STEP 1</strong>
                    </h3>
                    <div class="circle">
                        <p>
                            <i class="large material-icons">search</i>
                        </p>
                    </div>
                    <p>Search for a tutor</p>

                </div>
            </div>
        </div>
        <div class="col s12 m4">
            <div class="card grey lighten-3">
                <div class="card-content teal-lighten-1-text">
                    <h3>
                        <strong>STEP 2</strong>
                    </h3>
                    <div class="circle">
                        <p>
                            <i class="large material-icons">shopping_cart</i>
                        </p>
                    </div>
                    <p>Book a tutor</p>

                </div>
            </div>
        </div>
        <div class="col s12 m4">
            <div class="card grey lighten-3">
                <div class="card-content teal-lighten-1-text">
                    <h3>
                        <strong>STEP 3</strong>
                    </h3>
                    <div class="circle">
                        <p>
                            <i class="large material-icons">today</i>
                        </p>
                    </div>
                    <p>Take your lesson</p>

                </div>
            </div>
        </div>

        <div class="col s12">

            <h1 class="padding">
                <strong>Why learn with one of our tutors?</strong>
            </h1>

        </div>

        <div class="col s12">
            <div class="card grey lighten-3">
                <div class="card-content teal-lighten-1-text">

                    <h2>
                        <strong>OUR TUTORS ARE FUN</strong>
                    </h2>
                    <p>
                        All of our Tutors are handpicked by us for their professionalism, knowledge, and, well… fun factor. We don’t like learning from dried-up old dictionaries either, so when we look at prospective Tutor, we look for people who we’d actually want to spend
                        an hour chatting to, not someone who makes even our phones go to sleep.
                    </p>

                    <hr>

                    <h2>
                        <strong>FIT LEARNING TO CODE INTO YOUR SCHEDULE</strong>
                    </h2>
                    <p>
                        You can schedule your lessons whenever you have a free moment, AND you don’t have to make an extra effort to go anywhere.
                    </p>
                    <hr>
                    <h2>
                        <strong>
                            LOTS OF TUTORS TO CHOOSE FROM
                        </h2>
                    </strong>
                    <p>You can try out a Tutor and there is no obligation to continue. If it’s not for you, then simply don’t book another appointment. Hopefully, you’ll enjoy your lesson so much that you’ll be doubly excited for round two.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<footer class="page-footer">
    <div class="container">
        © 2017 Tandem Tech
        <a class="grey-text text-lighten-4 right" href="#!">Contact us</a>
    </div>
</div>
</footer>
