/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 *= require_tree .
 *= require_self

 */

 @import "materialize/components/color";
 $primary-color: color("teal", "lighten-3") !default;
 $secondary-color: color("deep-orange", "darken-1") !default;
 @import 'materialize';

// #b2dfdb teal lighten-4
// #f4511e deep-orange darken-1

// #80cbc4 teal lighten-3



body {
   display: flex;
   min-height: 100vh;
   flex-direction: column;
   font-size: 14px;
}

h1 {
  font-size: 20px;
  text-align: center;
  color: white;
}

h2 {
  font-size: 17px;
}

.nav-wrapper {
   background-color: #179FB5;
}

.page-footer {
  color: white;
  background-color: #179FB5;
}

nav .brand-logo {
  color: white;
}

nav ul a {
  color: white;
}


//Homepage

.hero {
   background: image-url('test.png');
   background-size: cover;
  max-width: 100%;
   height: 100vh;
   overflow: hidden;
   border: none;
}

.row {
     margin-left: 10px;
     margin-right: 10px;
    margin-bottom: 20px;
}

.home-banner{
  color: white;
  margin-bottom: 20p
}

strong {
  color: #179FB5;
  padding-top: 10px;

}

i.large  {
  color: #179FB5;
}

.col.user_bio {
  margin-top: 40px;
  font-size: 15px;
}
